<h1>パスワードリセットの手続き</h1>

<p>
  <%= @user.email %>様
</p>

<p>
  パスワードリセットのリクエストを受け付けました。下記のリンクからパスワードの再設定を行ってください。
</p>

<p>
  <%= link_to 'パスワードリセット', @url %>
</p>

<p>
  このリンクの有効期限は24時間です。
</p>

<p>
  パスワードリセットをリクエストしていない場合は、このメールを無視してください。
</p>
