<div>
  <h1>Binary#index</h1>
  <%= link_to 'new Binary', new_binary_path %>

  <% @binaries.each do |binary| %>
    <p>
      <%= link_to binary.title, binary_path(binary.id)  %>
      <%= binary.context %>
    </p>
  <% end %>
</div>
